asn1crypto==1.2.0
astroid==2.3.3
beautifulsoup4==4.8.2
certifi==2023.7.22
cffi==1.13.2
chardet==3.0.4
colorama==0.4.3
cryptography==41.0.3
et-xmlfile==1.0.1
idna==2.8
isort==4.3.21
jdcal==1.4.1
keyboard==0.13.4
lazy-object-proxy==1.4.3
lxml==4.9.1
mccabe==0.6.1
mkl-fft==1.0.15
mkl-random==1.1.0
mkl-service==2.3.0
numpy==1.22.0
openpyxl==3.0.2
pafy==0.5.5
pandas==0.25.3
pycparser==2.19
pylint==2.4.4
pyOpenSSL==19.1.0
PySocks==1.7.1
python-dateutil==2.8.1
python-vlc==3.0.7110
pytz==2019.3
requests==2.31.0
selenium==3.141.0
six==1.13.0
soupsieve==1.9.5
typed-ast==1.4.0
urllib3==1.26.17
win-inet-pton==1.1.0
wincertstore==0.2
wrapt==1.11.2
xlrd==1.2.0
youtube-dl==2020.1.1